$color-white:			#FFF;
$color-black:			#111;

$color-green:			#007850;
$color-red:				#D9222A;
$color-yellow:			#FEC600;
$color-orange:			#DE9101;

$color-orange-light:	#DDAA58;

$color-grey:			#333333;
$color-grey-dark:		#3A3A3A;
$color-grey-light:		#EAEAEA;

$color-blue-light:		#EDF1F5;

$color-main-text:		#424242;

$color-primary:			$color-orange;
$color-primary-light:	$color-orange-light;

$color-link:			$color-primary;

$color-background:		$color-white;